{{>header}}
{{>navbar}}
<section class="container my-3">
    <h2>Edit User Data</h2>
    {{#if isNotFound}}
    <div class="alert alert-danger">
        user not found
    </div>
    {{else}}

    <form method="post">
        <div class="mb-3">
            <input class="form-control" name="name" placeholder="Enter your name" value="{{user.name}}">
            {{#if errors.name}}
                <div class="text-danger"><span>{{errors.name}}</span></div>
            {{/if}}
        </div>
        <div class="mb-3">
            <input class="form-control" name="age" placeholder="Enter your age" value="{{user.age}}">
            {{#if errors.age}}
                <div class="text-danger"><span>{{errors.age}}</span></div>
            {{/if}}
        </div>
        <div class="mb-3">
            <input class="form-control" name="email" placeholder="Enter your email" value="{{user.email}}">
            {{#if errors.email}}
                <div class="text-danger"><span>{{errors.email}}</span></div>
            {{/if}}
        </div>
        <div class="mb-3">
            <input class="form-control" name="address" placeholder="Enter your address" value="{{user.address}}">
        </div>
        <div class="mb-3">
            <input class="form-control" name="initialbalance" type="number" placeholder="Enter your initial balance" value="{{user.initialbalance}}">
            {{#if errors.initialbalance}}
                <div class="text-danger"><span>{{errors.initialbalance}}</span></div>
            {{/if}}
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Edit Data</button>
        </div>
    </form>
    {{/if}}
</section>
{{>footer}}